<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Game</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="light dark" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" >
  <script src="https://unpkg.com/htmx.org@2.0.1"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
</head>
<body>
<section>
  <!--/*@thymesVar id="session" type="com.mays.euchre.data.Session"*/-->
  <div th:ws-connect="@{/session/${session.getSessionId()}}">
    <th:block th:insert="~{fragments/board :: board}"></th:block>
  </div>
</section>
</body>
</html>